bin
obj
*.dll
*.mdb
*.exe
*.log
*.userprefs
*.suo
UpgradeLog*
*UpgradeReport*
*.user
*.DS_Store
*.ide
*.designer.cs
!*ControlResources*.designer.cs
!*Resources.Designer.cs
/packages
!.xamarin-component/**
*.xam
Components/
!GooglePlayServices/**
